@import url("https://fonts.googleapis.com/css?family=Roboto:300,600");

$light_gray: #3d3c4c;
$gray: #21252b;
$black: #31333f;
$white: #fdfdfd;
$transparent: rgba(0,0,0,0);

body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 3.5vmin;
  line-height: 6.5vmin;
  font-weight: 300;
  background-color: $gray;
  color: $white;
  overflow: hidden;
}

h1, h2 {
  flex: 1;
  margin-bottom: 2vmin;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  align-items:center;
}

button {
  border-radius: 50px;
  border: none;
  background-color: $light_gray;
  padding: 15px 25px;
  color: inherit;
  font-size: inherit;

}

button:hover {
  cursor: pointer;
}